body{
background-color: slategray;
margin-left: 0px;
}

img {
    border: 5px solid #555;
    width: 500px;
    height: 300px;
}
Img:hover{
  border-color:#04AA6D;
}

.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.col1{
  display: flex;
    flex-direction: column;
  margin-left: 30%;
}
.div {
    display: flex;
    flex-direction: column;
    
}
.content{
    margin-left: 200px;
}
.gap{
margin-right: 10px;
}
.sidebar {
    margin-top: 0%;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .h:hover{
    background-color: #04AA6D;
  }
  .exp{
    border: 5px solid slategray;
    width: 200px;
  }
  .exp:hover{
    border-color:  #04AA6D;
  }
  .exp1{
    border: 5px solid slategray;
    width: 400px;
  }
  .exp1:hover{
    border-color:  #04AA6D;
  }
  .h1{
    width: 160px;
    height: 100px;
  }
  .h:hover{
    margin-left: 40px;
    width: 200px;
  }
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    height: 80px;
  }